{% extends 'base.html.twig' %}

{% block title %}Comics Avengers!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1500px; width: 95%; font: 18px/1.5 sans-serif; justify-content:center }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
     <h1 class="p-3 mt-4">Comics Avengers</h1>
        {# Affichage de la liste des comics avengers #}
        <div class="row col-12 justify-content-center" id="js-filter-content">
            {% for comic in comics %}
            <div class="card col-2 m-3" style="width: 18rem;">
            <a  href="{{path('characters',{'comicId':comic.id})}}">
            <img src={{ comic.thumbnail.path  ~ '.' ~ comic.thumbnail.extension }} class="card-img-top mt-4" alt="avengerscomic">
            </a>
            <div class="card-body">
            <p class="card-text text-center">{{comic.title}}</p>
           </div>
        </div>
            
            {% endfor %}
        </div>

</div>
{% endblock %}
