{% extends 'base.html.twig' %}

{% block title %}Characters!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1500px; width: 95%; font: 18px/1.5 sans-serif; justify-content:center }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
     <h1 class="p-3 mt-4">Characters</h1>
        {# Affichage de la liste des caracters avengers d'un comic #}
         <a  href="{{path('app_home')}}">
          <button class="btn btn-primary">Back button</button>
        </a>
        <div class="row col-12 justify-content-center" id="js-filter-content">
            {% for character in characters %}
             <div class="card col-2 m-3" style="width: 18rem;">
            <img src={{ character.thumbnail.path  ~ '.' ~ character.thumbnail.extension }} class="card-img-top mt-4" alt="avengerscharacter">
            <div class="card-body">
            <p class="card-text text-center">{{character.name}}</p>
           </div>
        </div>
            {% endfor %}
        </div>

</div>
{% endblock %}
